<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTests">
    <test name="SumSubMultDiv">
        <classes>
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.SumTest" />
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.SubTest" />
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.MultTest" />
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.DivTest" />

        </classes>
    </test>
</suite>