<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTests">
    <test name="SumSubMultDiv">
        <classes>
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.SumLongTest" />
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.SubDoubleTest" />
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.MultLongTest" />
            <class name="ru.levelup.tatiana.tatarinova.qa.homework_3.DivDoubleTest" />

        </classes>
    </test>
</suite>